
body {
    margin: 0;
    font-family: AriaL, sans-serif;
    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.Container_titulo h1 {
    margin: 620px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 184, 184, 0.685);
    border-radius: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

}
.container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.753);
}


h1, h2 {
    font-family: Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: #0000007e;
}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.devs h2 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.815);

    display: inline-block;
    padding: 8px 16px;
    border-radius: 16px;

    box-shadow: 0 0 15px rgba(255, 255, 255, 0.568);
    margin-left: -14px; /* mueve hacia la derecha */
}

.Art h2 {
        background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.815);

    display: inline-block;
    padding: 8px 16px;
    border-radius: 16px;

    box-shadow: 0 0 15px rgba(255, 255, 255, 0.473);
    margin-left: -14px; /* mueve hacia la derecha */
}

h1, .container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
    color: #000000;
   
}


p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
}

figure {
    width: 120px;
    height: 120px;

}
.Partners img {
    width: 120px;
    border-radius: 16px;
    display: block;
    margin: 10px auto 5px auto; /* menos espacio abajo */
}
.Partners figure aside h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
    border-radius: 6px;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 12px;
    width: 970px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);

}

.lang-btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    font-size: 16px;
}
